.version.finish_k /* version checker */
{
	color: #000001;
	background-color: #2b7eeb;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#u1042
{
	z-index: 3;
	min-height: 98px;
	background-color: #2b7eeb;
}

#u1042_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	padding-top: 18px;
}

#u2679-4
{
	z-index: 74;
	width: 600px;
	min-height: 47px;
	background-color: transparent;
	color: #343434;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: 300px;
	position: relative;
}

#u1044-4
{
	z-index: 4;
	width: 600px;
	min-height: 32px;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: 300px;
	margin-top: 1px;
	position: relative;
}

#u1042-bw
{
	z-index: 3;
	min-height: 98px;
}

#pppu1055
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 86px;
}

#ppu1055
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 480px;
}

#pu1055
{
	z-index: 27;
	width: 0.01px;
	position: relative;
	margin: -1px -10000px -2px 28px;
}

#pu1060-6
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 31px;
}

#u1060-6
{
	z-index: 46;
	width: 110px;
	min-height: 10px;
	background-color: transparent;
	color: #42410B;
	line-height: 13px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1052
{
	z-index: 25;
	width: 281px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #2b7eeb;
	border-radius: 10px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 195px;
}

#u1057-4
{
	z-index: 34;
	width: 98px;
	min-height: 29px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 91px;
}

#u1061-6
{
	z-index: 52;
	width: 257px;
	min-height: 27px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 213px;
}

#u1064-4
{
	z-index: 66;
	width: 29px;
	min-height: 16px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u1065-4
{
	z-index: 70;
	width: 29px;
	min-height: 16px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 169px;
}

#pu1053
{
	z-index: 26;
	width: 0.01px;
	position: relative;
	margin: -1px -10000px -2px 168px;
}

#u1055,#u1053
{
	z-index: 0;
	width: 137px;
	border-width: 3px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #C8C8C8;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1058-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 31px;
}

#u1058-4
{
	z-index: 38;
	width: 110px;
	min-height: 10px;
	background-color: transparent;
	color: #42410B;
	line-height: 13px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1067
{
	z-index: 2;
	width: 137px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #2b7eeb;
	border-radius: 10px;
	padding-bottom: 34px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 337px;
}

#u1059-4
{
	z-index: 42;
	width: 110px;
	min-height: 10px;
	background-color: transparent;
	color: #42410B;
	line-height: 13px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 13px;
}

#u1051
{
	z-index: 24;
	width: 137px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #2b7eeb;
	border-radius: 10px;
	padding-bottom: 23px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1056-6
{
	z-index: 28;
	width: 98px;
	min-height: 29px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 19px;
}

#u1062-4
{
	z-index: 58;
	width: 29px;
	min-height: 16px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 140px;
}

#u1063-4
{
	z-index: 62;
	width: 29px;
	min-height: 16px;
	background-color: transparent;
	color: #42410B;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 309px;
}

#u1050-11
{
	z-index: 13;
	width: 960px;
	min-height: 236px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 41px;
	position: relative;
}

#u1050-2,#u1050-3
{
	font-size: 24px;
	line-height: 36px;
}

#u1050-5,#u1050-7,#u1050-9
{
	font-size: 14px;
	line-height: 21px;
}

#u1048
{
	z-index: 8;
	min-height: 30px;
	background-color: #2b7eeb;
	padding-bottom: 26px;
}

#u1048_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u1049-4
{
	z-index: 9;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #343434;
	line-height: 18px;
	text-align: right;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 741px;
}

#u1048-bw
{
	z-index: 8;
	min-height: 30px;
	margin-top: 175px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}
