.version.mbdiet_service /* version checker */
{
	color: #000011;
	background-color: #9938D3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 699.6499999999969px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu5713
{
	width: 0.01px;
	padding-bottom: 50px;
	margin-left: -100px;
}

#u5713
{
	z-index: 303;
	height: 50px;
	background-color: #000000;
	position: fixed;
	top: 0px;
}

#u5713-bw
{
	z-index: 303;
}

#u5714
{
	z-index: 304;
	width: 120px;
	background-color: transparent;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -480px;
}

#u5714_img
{
	padding-right: 5px;
	padding-bottom: 1px;
}

#u5721-4
{
	z-index: 323;
	width: 80px;
	min-height: 27px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -272px;
}

#u5721-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 80px;
	margin: 0px 0px 0px -272px;
}

#u5718-4
{
	z-index: 311;
	width: 180px;
	min-height: 27px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -172px;
}

#u5718-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 180px;
	margin: 0px 0px 0px -172px;
}

#u5718-4.MuseLinkActive p
{
	color: #BED42B;
	visibility: inherit;
}

#u5719-4
{
	z-index: 315;
	width: 140px;
	min-height: 27px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: 27px;
}

#u5719-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 140px;
	margin: 0px 0px 0px 27px;
}

#u5720-4
{
	z-index: 319;
	width: 80px;
	min-height: 27px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: 187px;
}

#u5720-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 80px;
	margin: 0px 0px 0px 187px;
}

#u5716
{
	z-index: 306;
	width: 160px;
	height: 50px;
	background-color: #BED42B;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 320px;
}

#u5717-4
{
	z-index: 307;
	width: 160px;
	min-height: 31px;
	background-color: transparent;
	color: #000000;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: 320px;
}

#u5728
{
	z-index: 333;
	width: 24px;
	background-color: transparent;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -245px;
}

#u5722
{
	z-index: 327;
	width: 24px;
	background-color: transparent;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -95px;
}

#u5724
{
	z-index: 329;
	width: 24px;
	background-color: transparent;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 86px;
}

#u5726
{
	z-index: 331;
	width: 24px;
	background-color: transparent;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: 215px;
}

#slideshowu4901
{
	z-index: 5;
	width: 0.01px;
	height: 260px;
	left: -100px;
	position: relative;
}

#u4911
{
	position: absolute;
	width: 1200px;
	height: 260px;
	background-color: transparent;
}

#u4911popup
{
	z-index: 6;
}

#u4912
{
	z-index: 7;
	width: 1200px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5832
{
	z-index: 293;
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 767px;
	top: -212px;
	margin-bottom: -150px;
	position: relative;
}

#u5830
{
	z-index: 294;
	width: 150px;
	background-color: #BED42B;
	border-radius: 75px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u5831-8
{
	z-index: 295;
	width: 150px;
	min-height: 84px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u5831-2,#u5831-4
{
	font-size: 16px;
	line-height: 19px;
}

#u5831-6
{
	font-size: 36px;
	line-height: 43px;
}

#u4994
{
	z-index: 9;
	min-height: 59px;
	background-color: #000000;
	padding-bottom: 11px;
}

#u4994_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	margin-bottom: -22px;
}

#u5011-6
{
	z-index: 14;
	width: 960px;
	min-height: 47px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 120px;
}

#u4994-bw
{
	z-index: 9;
	min-height: 59px;
	margin-top: -22px;
}

#u5034
{
	z-index: 45;
	width: 46px;
	background-color: transparent;
	margin-left: 477px;
	position: relative;
}

#u5037-6
{
	z-index: 49;
	width: 960px;
	min-height: 70px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 66px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 44px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u5038-4
{
	z-index: 61;
	width: 747px;
	min-height: 92px;
	background-color: transparent;
	line-height: 26px;
	text-align: justify;
	font-size: 22px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 127px;
	position: relative;
}

#u5045
{
	z-index: 143;
	width: 747px;
	background-color: transparent;
	margin-left: 126px;
	margin-top: 20px;
	position: relative;
}

#u5523
{
	z-index: 10;
	width: 460px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u5524-4
{
	z-index: 20;
	width: 440px;
	min-height: 39px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 1px;
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u5535
{
	z-index: 11;
	width: 460px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5534-4
{
	z-index: 24;
	width: 440px;
	min-height: 39px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 1px;
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u5525-4
{
	z-index: 65;
	width: 460px;
	min-height: 207px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 22px; /*font-14px*/
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#pu5540
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 500px;
}

#u5540
{
	z-index: 4;
	width: 460px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
}

#u5533-4
{
	z-index: 81;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5536-4
{
	z-index: 69;
	width: 460px;
	min-height: 180px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 22px; /*font was 14*/
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 5px;
	position: relative;
}

#u5531
{
	z-index: 12;
	width: 460px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u5530-4
{
	z-index: 28;
	width: 440px;
	min-height: 39px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 1px;
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}


#u5539
{
	z-index: 2;
	width: 460px;
	border-color: #42410B;
	/* background-color: #F2F9C0; */
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5538-4
{
    z-index: 85;
    width: 460px;
    min-height: 27px;
    background-color: black;
    color: #fff;
    line-height: 26px;
    text-align: justify;
    font-size: 25px;
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    margin-bottom: 1rem;
    padding: .4rem;
    font-weight: bold;
    position: relative;
    margin-right: -10000px;
}

#ppu5537-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -8px;
}

#pu5537-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 500px;
}

#u5537-4
{
	z-index: 73;
	width: 460px;
	min-height: 110px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 22px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
}

#u5543
{
	z-index: 3;
	width: 460px;
	border-color: #42410B;
	background-color: #F2F9C0;
	margin-top: 10px;
	position: relative;
}

#u5542-4
{
	z-index: 89;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5544-4
{
	z-index: 77;
	width: 460px;
	min-height: 155px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 5px;
	position: relative;
}

#u5529-8
{
	z-index: 93;
	width: 460px;
	min-height: 133px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 22px; /*was 15px*/
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5529-5
{
	font-weight: bold;
}

#u5547
{
	z-index: 105;
	width: 460px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u5546
{
	z-index: 106;
	width: 460px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
}

#u5545-4
{
	z-index: 107;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5532-11
{
	z-index: 111;
	width: 460px;
	min-height: 111px;
	background-color: transparent;
	text-align: justify;
	line-height: 22px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 7px;
	position: relative;
}

#u5532-2,#u5532-7
{
	color: #BED42B;
	font-weight: bold;
}

#u5548-6
{
	z-index: 39;
	width: 960px;
	min-height: 71px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 35px;
	text-align: center;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u5051
{
	z-index: 13;
	min-height: 58px;
	background-color: #000000;
	padding-bottom: 12px;
}

#u5052-7
{
	z-index: 32;
	width: 960px;
	min-height: 47px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 120px;
}

#u5011-2,#u5052-2,#u5052-4
{
	color: #BED42B;
}

#u5051-bw
{
	z-index: 13;
	min-height: 58px;
	margin-top: 23px;
}

#u5055
{
	z-index: 47;
	width: 46px;
	background-color: transparent;
	margin-left: 477px;
	position: relative;
}

#u5054-6
{
	z-index: 55;
	width: 960px;
	min-height: 70px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 66px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 44px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u5037-2,#u5054-2
{
	color: #8CC63F;
}

#u5059
{
	z-index: 145;
	width: 340px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u5060-4
{
	z-index: 153;
	width: 325px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 8px;
}

#u5061
{
	z-index: 152;
	width: 120px;
	border-color: #42410B;
	background-color: #000000;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u5063-4
{
	z-index: 201;
	width: 120px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u5066
{
	z-index: 205;
	width: 325px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	left: 500px;
	padding: 5px 7px 5px 8px;
}

#u5522-4
{
	z-index: 211;
	width: 325px;
	min-height: 19px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u5068-4
{
	z-index: 207;
	width: 325px;
	min-height: 19px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: -1px;
	margin-top: 2px;
	position: relative;
}

#u5067
{
	z-index: 206;
	width: 120px;
	border-color: #42410B;
	background-color: #000000;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 840px;
}

#u5069-4
{
	z-index: 215;
	width: 120px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#pu5073-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u5073-4
{
	z-index: 157;
	width: 457px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5080-4
{
	z-index: 167;
	width: 457px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5074
{
	z-index: 146;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u5075-4
{
	z-index: 177;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u5078
{
	z-index: 149;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5079-4
{
	z-index: 189;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u5081-4
{
	z-index: 101;
	width: 457px;
	min-height: 92px;
	background-color: transparent;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u5082-4
{
	z-index: 135;
	width: 457px;
	min-height: 92px;
	background-color: transparent;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5097-6
{
	z-index: 161;
	width: 457px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5098-6
{
	z-index: 171;
	width: 457px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5095
{
	z-index: 147;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u5096-4
{
	z-index: 181;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u5093
{
	z-index: 150;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5094-4
{
	z-index: 193;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#pu5092-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u5092-4
{
	z-index: 122;
	width: 457px;
	min-height: 92px;
	background-color: transparent;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u5091-4
{
	z-index: 139;
	width: 457px;
	min-height: 92px;
	background-color: transparent;
	line-height: 26px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#pu5523,#pu5059,#pu5119
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#u5119
{
	z-index: 148;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u5118-4
{
	z-index: 185;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u5120
{
	z-index: 151;
	width: 457px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u5121-4
{
	z-index: 197;
	width: 360px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#pu5525-4,#pu5531,#pu5074,#pu5081-4,#pu5097-6,#pu5095,#pu5123-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#u5123-4
{
	z-index: 126;
	width: 457px;
	min-height: 80px;
	background-color: transparent;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u5125-5
{
	z-index: 130;
	width: 457px;
	min-height: 80px;
	background-color: transparent;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#pu5099
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 16px;
}

#u5099
{
	z-index: 219;
	width: 260px;
	background-color: #F15A24;
	position: relative;
	margin-right: -10000px;
}

#u5099_position_content
{
	padding-top: 39px;
	padding-bottom: 8px;
}

#u5102-4
{
	z-index: 223;
	width: 260px;
	min-height: 47px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 46px;
	text-align: center;
	font-size: 35px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u5111
{
	z-index: 268;
	width: 46px;
	background-color: transparent;
	margin-left: 107px;
	margin-top: 7px;
	position: relative;
}

#u5105-5
{
	z-index: 236;
	width: 260px;
	min-height: 101px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 100px;
	text-align: center;
	font-size: 100px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 36px;
	position: relative;
}

#u5105
{
	line-height: 100px;
}

#u5105-2
{
	font-size: 50px;
	line-height: 50px;
}

#u5100
{
	z-index: 220;
	width: 690px;
	background-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u5100_position_content
{
	padding-top: 15px;
	padding-bottom: 12px;
}

#pu5103-5
{
	width: 0.01px;
	margin-left: 30px;
}

#u5103-5
{
	z-index: 227;
	width: 160px;
	min-height: 47px;
	border-color: #343434;
	background-color: #BED42B;
	color: #000000;
	line-height: 46px;
	text-align: center;
	font-size: 35px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5103
{
	line-height: 46px;
}

#u5103-2
{
	font-size: 20px;
	line-height: 26px;
}

#u5109-6
{
	z-index: 254;
	width: 470px;
	min-height: 53px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 25px;
	text-align: left;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u5106-5
{
	z-index: 241;
	width: 690px;
	min-height: 111px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 100px;
	text-align: center;
	font-size: 100px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	position: relative;
}

#u5105-3,#u5103-3,#u5106-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5106
{
	font-size: 110px;
	line-height: 110px;
}

#u5106-2
{
	font-size: 40px;
	line-height: 40px;
}

#pu5104-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 11px;
}

#u5104-4
{
	z-index: 232;
	width: 160px;
	min-height: 35px;
	border-color: #343434;
	background-color: #BED42B;
	padding-top: 12px;
	color: #000000;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u5110-8
{
	z-index: 260;
	width: 470px;
	min-height: 53px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 17px;
	text-align: left;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u5107-4
{
	z-index: 246;
	width: 260px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u5108-4
{
	z-index: 250;
	width: 260px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#u5101
{
	z-index: 221;
	width: 960px;
	background-color: #C8C8C8;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u5114-4
{
	z-index: 270;
	width: 421px;
	min-height: 60px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	line-height: 58px;
	text-align: right;
	letter-spacing: 1px;
	font-size: 36px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 20px;
}

#u5115-4
{
	z-index: 278;
	width: 240px;
	min-height: 41px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 9px;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 450px;
}

#u5116-4
{
	z-index: 282;
	width: 240px;
	min-height: 41px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 9px;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 700px;
}

#u5115-4:hover,#u5116-4:hover
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 240px;
	margin: 15px -10000px 0px 0px;
}

#u5721-4:hover p,#u5719-4:hover p,#u5720-4:hover p,#u5115-4:hover p,#u5116-4:hover p
{
	color: #D9E021;
	visibility: inherit;
}

#u5827
{
	z-index: 222;
	width: 960px;
	background-color: #BED42B;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u5828-4
{
	z-index: 274;
	width: 900px;
	min-height: 60px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	line-height: 58px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 36px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 30px;
}

#u5762
{
	z-index: 286;
	min-height: 52px;
	background-color: #000000;
	padding-bottom: 18px;
}

#u5051_align_to_page,#u5762_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u5763-4
{
	z-index: 287;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 431px;
}

#u5764
{
	z-index: 291;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 947px;
}

#u5762-bw
{
	z-index: 286;
	min-height: 52px;
	margin-top: 28px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
	background: #f1f1f1;
}

#page .verticalspacer
{
	clear: both;
}

