.version.ogikubo /* version checker */
{
	color: #00001C;
	background-color: #675F5B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu3067
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u3067
{
	z-index: 465;
	height: 50px;
	background-color: #646464;
	position: fixed;
	top: 0px;
}

#u3067-bw
{
	z-index: 465;
}

#u3068
{
	z-index: 466;
	width: 200px;
	height: 50px;
	background-color: #D1EB2B;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u3069-4
{
	z-index: 467;
	width: 200px;
	min-height: 47px;
	background-color: transparent;
	color: #343434;
	line-height: 58px;
	text-align: center;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u3070-4
{
	z-index: 471;
	width: 110px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 210px;
}

#u3071-4
{
	z-index: 475;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: center;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 360px;
}

#u3072-4
{
	z-index: 479;
	width: 120px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 387px;
}

#u3073-4
{
	z-index: 483;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: center;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 507px;
}

#u3074-4
{
	z-index: 487;
	width: 120px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 534px;
}

#u3072-4:hover,#u3074-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 120px;
	margin: 0px;
}

#u3074-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 120px;
	margin: 0px;
}

#u3072-4:hover p,#u3074-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u3074-4.MuseLinkActive p
{
	color: #D1EB2B;
	visibility: inherit;
}

#u5945
{
	z-index: 497;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 49px;
	position: fixed;
	top: 0px;
	right: 120px;
}

#u5948
{
	z-index: 498;
	width: 180px;
	background-color: #000000;
	padding-bottom: 7px;
	position: fixed;
	top: 0px;
	right: 120px;
}

#u5946
{
	z-index: 499;
	width: 100px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	right: 190px;
}

#u5946_img
{
	padding-right: 2px;
}

#pu5949-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 120px;
}

#pu5949-4_position_content
{
	margin-top: -8px;
	padding-bottom: 43px;
}

#u5949-4
{
	z-index: 501;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 8px;
	right: 130px;
}

#u5950-4
{
	z-index: 505;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 27px;
	right: 130px;
}

#u5949-4:hover,#u5950-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u5949-4:hover p,#u5950-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u2764
{
	z-index: 435;
	min-height: 114px;
	background-color: #D1EB2B;
	padding-bottom: 26px;
}

#u2764_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	margin-bottom: -8px;
}

#u2765-4
{
	z-index: 436;
	width: 360px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 24px;
	text-align: right;
	font-size: 24px;
	letter-spacing: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 100px;
}

#u2767
{
	z-index: 444;
	width: 241px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 480px;
}

#u2766-4
{
	z-index: 440;
	width: 360px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	letter-spacing: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 740px;
}

#u2764-bw
{
	z-index: 435;
	min-height: 114px;
	margin-top: -8px;
}

#slideshowu2788
{
	z-index: 416;
	width: 0.01px;
	height: 550px;
	left: -100px;
	position: relative;
}

#u2802
{
	position: absolute;
	width: 1200px;
	height: 550px;
	background-color: transparent;
}

#u2802popup
{
	z-index: 417;
}

#u2803
{
	z-index: 418;
	width: 1200px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3022
{
	z-index: 451;
	width: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 380px;
	top: -471px;
	margin-bottom: -240px;
	position: relative;
}

#u3018
{
	z-index: 452;
	width: 240px;
	height: 240px;
	background-color: #D1EB2B;
	border-radius: 120px;
	position: relative;
}

#u3018:hover
{
	background-color: #FCEE21;
	width: 240px;
	height: 240px;
	min-height: 0px;
	margin: 0px;
}

#u3020-4
{
	z-index: 457;
	width: 180px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 30px;
	top: -167px;
	margin-bottom: -24px;
	position: relative;
}

#u3019-4
{
	z-index: 453;
	width: 240px;
	min-height: 46px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	top: -143px;
	margin-bottom: -46px;
	position: relative;
}

#u3021-4
{
	z-index: 461;
	width: 120px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 60px;
	top: -87px;
	margin-bottom: -24px;
	position: relative;
}

#u2780
{
	z-index: 446;
	min-height: 60px;
	background-color: #343434;
	padding-bottom: 20px;
}

#u2780_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	margin-bottom: -80px;
}

#u2781-4
{
	z-index: 447;
	width: 1000px;
	min-height: 46px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 33px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 100px;
}

#u2780-bw
{
	z-index: 446;
	min-height: 60px;
	margin-top: -80px;
}

#u4084
{
	z-index: 398;
	height: 140px;
	background-color: #C8C8C8;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u4084-bw
{
	z-index: 398;
	height: 140px;
}

#u4090-4
{
	z-index: 399;
	width: 200px;
	min-height: 27px;
	border-color: #343434;
	background-color: #42410B;
	border-radius: 10px 10px 0px 0px ;
	color: #D1EB2B;
	line-height: 27px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 500px;
}

#u4210-4
{
	z-index: 403;
	width: 240px;
	min-height: 60px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 57px;
	text-align: center;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 210px;
}

#u4211-4
{
	z-index: 407;
	width: 240px;
	min-height: 60px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 57px;
	text-align: center;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 750px;
}

#u4212-4
{
	z-index: 411;
	width: 240px;
	min-height: 60px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 57px;
	text-align: center;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 480px;
}

#u4210-4:hover,#u4211-4:hover,#u4212-4:hover
{
	background-color: #FCEE21;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 240px;
	margin: 30px -10000px 0px 0px;
}

#o_enter
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 44px;
}

#pu4092
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 39px;
}

#u4092
{
	z-index: 28;
	width: 217px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4092_position_content
{
	padding-top: 25px;
	padding-bottom: 17px;
}

#u4102-4
{
	z-index: 30;
	width: 220px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	line-height: 44px;
	text-align: center;
	font-size: 44px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: -2px;
	position: relative;
}

#u4105-4
{
	z-index: 38;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: -2px;
	margin-top: 10px;
	position: relative;
}

#u4124-4
{
	z-index: 85;
	width: 164px;
	min-height: 30px;
	background-color: #42410B;
	color: #D1EB2B;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 20px;
	position: relative;
}

#u4089-18
{
	z-index: 6;
	width: 415px;
	min-height: 179px;
	border-color: #343434;
	background-color: transparent;
	color: #42410B;
	text-align: justify;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 545px;
}

#u4089-2
{
	font-size: 17px;
	line-height: 26px;
}

#u4089-4,#u4089-6,#u4089-8,#u4089-10,#u4089-12,#u4089-14,#u4089-16
{
	line-height: 21px;
}

#u4101
{
	z-index: 29;
	width: 135px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 291px;
	padding: 109px 41px 5px;
}

#u4125-4
{
	z-index: 89;
	width: 80px;
	min-height: 23px;
	background-color: #42410B;
	color: #D1EB2B;
	line-height: 21px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 27px;
	position: relative;
}

#u4123-8
{
	z-index: 68;
	width: 135px;
	min-height: 37px;
	background-color: transparent;
	color: #343434;
	line-height: 12px;
	text-align: left;
	font-size: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u4103-4
{
	z-index: 34;
	width: 70px;
	min-height: 29px;
	background-color: transparent;
	color: #42410B;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 222px;
}

#u4467
{
	z-index: 76;
	width: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 292px;
}

#u4104-4
{
	z-index: 77;
	width: 220px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	line-height: 50px;
	text-align: center;
	font-size: 50px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u4122-4
{
	z-index: 81;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	position: relative;
}

#pu4086
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 28px;
}

#u4086
{
	z-index: 3;
	width: 960px;
	background-color: #C1272D;
	border-radius: 10px;
	padding-top: 15px;
	padding-right: 1px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u4130-6
{
	z-index: 103;
	width: 960px;
	min-height: 105px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 53px;
	text-align: center;
	font-size: 48px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u4214-5
{
	z-index: 109;
	width: 940px;
	min-height: 50px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 9px;
	position: relative;
}

#u4214-2
{
	letter-spacing: -1px;
}

#pu4491
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 9px;
}

#u4491
{
	z-index: 114;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4471
{
	z-index: 115;
	width: 200px;
	background-color: #29ABE2;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4475-4
{
	z-index: 116;
	width: 190px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 34px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u4492
{
	z-index: 128;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u4472
{
	z-index: 129;
	width: 180px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u4476-6
{
	z-index: 130;
	width: 170px;
	min-height: 40px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 1px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#u4493
{
	z-index: 120;
	width: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u4473
{
	z-index: 121;
	width: 160px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4478-6
{
	z-index: 122;
	width: 150px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 17px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u4494
{
	z-index: 136;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u4474
{
	z-index: 137;
	width: 250px;
	background-color: #FFFFFF;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u4479-6
{
	z-index: 138;
	width: 240px;
	min-height: 40px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 1px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u4476-2,#u4479-2
{
	line-height: 15px;
}

#u4476-4,#u4479-4
{
	font-size: 23px;
	line-height: 25px;
}

#u4523-4
{
	z-index: 388;
	width: 820px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 65px;
	margin-top: 10px;
	position: relative;
}

#u4487
{
	z-index: 392;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 450px;
}

#u4480
{
	z-index: 393;
	width: 5px;
	height: 20px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u4482
{
	z-index: 394;
	width: 20px;
	height: 5px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4488
{
	z-index: 395;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 620px;
}

#u4489
{
	z-index: 396;
	width: 5px;
	height: 20px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u4490
{
	z-index: 397;
	width: 20px;
	height: 5px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#ppu4469
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#pu4469
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 635px;
}

#u4469
{
	z-index: 350;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4096
{
	z-index: 351;
	width: 72px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u4107-4
{
	z-index: 353;
	width: 70px;
	min-height: 19px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u4098
{
	z-index: 352;
	width: 252px;
	border-color: #42410B;
	background-color: #CAEAF8;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 72px;
}

#u4109-6
{
	z-index: 357;
	width: 240px;
	min-height: 51px;
	background-color: transparent;
	color: #343434;
	line-height: 26px;
	text-align: left;
	font-size: 22px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u4470
{
	z-index: 363;
	width: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u4097
{
	z-index: 364;
	width: 72px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u4108-4
{
	z-index: 366;
	width: 70px;
	min-height: 19px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u4099
{
	z-index: 365;
	width: 252px;
	border-color: #42410B;
	background-color: #CAEAF8;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 72px;
}

#u4111-6
{
	z-index: 370;
	width: 240px;
	min-height: 56px;
	background-color: transparent;
	color: #343434;
	line-height: 24px;
	text-align: left;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u4315
{
	z-index: 200;
	width: 624px;
	border-color: #42410B;
	background-color: #CAEAF8;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u4315_position_content
{
	margin-top: -9px;
	padding-bottom: 5px;
}

#u4316-4
{
	z-index: 201;
	width: 350px;
	min-height: 20px;
	background-color: transparent;
	color: #C1272D;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 203px;
	position: relative;
}

#u4336-4
{
	z-index: 252;
	width: 80px;
	min-height: 18px;
	background-color: #29ABE2;
	border-radius: 10px;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 531px;
	margin-top: 6px;
	position: relative;
}

#u4357-4
{
	z-index: 270;
	width: 90px;
	min-height: 12px;
	background-color: transparent;
	color: #0071BC;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 526px;
	margin-top: 3px;
	position: relative;
}

#pu4317
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 1px;
}

#u4317
{
	z-index: 205;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu4359-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 326px;
}

#u4359-4
{
	z-index: 248;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
}

#u4334-6
{
	z-index: 264;
	width: 90px;
	min-height: 25px;
	background-color: transparent;
	color: #0071BC;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	position: relative;
}

#u4335-4
{
	z-index: 244;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 536px;
	margin-top: 20px;
	position: relative;
}

#u4220-4
{
	z-index: 384;
	width: 183px;
	min-height: 17px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 287px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u4319
{
	z-index: 207;
	width: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u4330
{
	z-index: 208;
	width: 177px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u4330_position_content
{
	padding-top: 10px;
	padding-bottom: 4px;
}

#pu4331-4
{
	width: 0.01px;
	margin-left: 8px;
}

#u4331-4
{
	z-index: 212;
	width: 70px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u4326-4
{
	z-index: 232;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u4327
{
	z-index: 209;
	width: 180px;
	height: 3px;
	background-color: #42410B;
	left: -3px;
	margin-top: 9px;
	position: relative;
}

#pu4324-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 4px;
}

#u4324-4
{
	z-index: 216;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4320-4
{
	z-index: 236;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u4321-4
{
	z-index: 224;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 99px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u4325-4
{
	z-index: 220;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 19px;
	position: relative;
}

#u4329-4
{
	z-index: 228;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 99px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u4323
{
	z-index: 210;
	width: 3px;
	height: 120px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u4322
{
	z-index: 211;
	width: 180px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u4328-4
{
	z-index: 240;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 97px;
}

#u4333-4
{
	z-index: 256;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 531px;
}

#u4358-4
{
	z-index: 260;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 531px;
}

#u4348
{
	z-index: 274;
	width: 268px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 243px;
}

#u4348_position_content
{
	padding-top: 6px;
	padding-bottom: 4px;
}

#pu4453-6
{
	width: 0.01px;
	margin-left: 1px;
}

#u4453-6
{
	z-index: 309;
	width: 80px;
	min-height: 27px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u4349-6
{
	z-index: 303;
	width: 80px;
	min-height: 27px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u4344-4
{
	z-index: 315;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #343434;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 182px;
}

#u4346
{
	z-index: 275;
	width: 274px;
	height: 3px;
	background-color: #42410B;
	left: -3px;
	margin-top: 4px;
	position: relative;
}

#pu4354-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 4px;
}

#u4354-4
{
	z-index: 279;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4350-4
{
	z-index: 319;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #C1272D;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u4343-4
{
	z-index: 323;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #C1272D;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u4342-4
{
	z-index: 287;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u4341-4
{
	z-index: 291;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u4353-4
{
	z-index: 283;
	width: 70px;
	min-height: 15px;
	background-color: transparent;
	color: #343434;
	line-height: 13px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 7px;
	margin-top: 20px;
	position: relative;
}

#pu4342-4,#pu4338-4
{
	width: 0.01px;
	margin-left: 98px;
	margin-top: -4px;
}

#u4338-4
{
	z-index: 295;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u4351-4
{
	z-index: 299;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	line-height: 9px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u4340
{
	z-index: 276;
	width: 3px;
	height: 120px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 332px;
}

#u4352
{
	z-index: 277;
	width: 3px;
	height: 120px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 422px;
}

#u4345
{
	z-index: 278;
	width: 274px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 243px;
}

#u4347-4
{
	z-index: 327;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #C1272D;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 339px;
}

#u4339-4
{
	z-index: 331;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	color: #C1272D;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 429px;
}

#u4363-8
{
	z-index: 376;
	width: 960px;
	min-height: 56px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 22px;
	margin-top: 19px;
	position: relative;
}

#u4363-4
{
	font-size: 24px;
	line-height: 34px;
}

#u4363-2
{
	color: #C1272D;
}

#u4363-6
{
	font-size: 16px;
	line-height: 22px;
}

#po_howto
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#o_howto
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 53px;
}

#u4364
{
	z-index: 335;
	width: 963px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 119px;
}

#u4094
{
	z-index: 336;
	width: 957px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u4202-4
{
	z-index: 346;
	width: 200px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 23px;
}

#u4095
{
	z-index: 337;
	width: 3px;
	height: 80px;
	border-color: #42410B;
	background-color: #42410B;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 250px;
}

#u4110-8
{
	z-index: 338;
	width: 690px;
	min-height: 60px;
	background-color: transparent;
	color: #343434;
	line-height: 20px;
	text-align: left;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 260px;
}

#u4091-4
{
	z-index: 24;
	width: 200px;
	min-height: 27px;
	border-color: #343434;
	background-color: #42410B;
	border-radius: 10px 10px 0px 0px ;
	color: #D1EB2B;
	line-height: 27px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 400px;
	margin-top: 34px;
	position: relative;
}

#pu4084,#pu4085
{
	width: 0.01px;
	margin-left: -100px;
}

#u4085
{
	z-index: 2;
	height: 240px;
	background-color: #C8C8C8;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u4085-bw
{
	z-index: 2;
	height: 240px;
}

#u4118-8
{
	z-index: 42;
	width: 648px;
	min-height: 90px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 432px;
}

#u4118-2,#u4118-4
{
	font-size: 18px;
	line-height: 32px;
}

#u4118-6
{
	line-height: 25px;
}

#u4126
{
	z-index: 93;
	width: 280px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u4127
{
	z-index: 94;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u4128-4
{
	z-index: 95;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u4129-4
{
	z-index: 99;
	width: 220px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 60px;
}

#u4168
{
	z-index: 179;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 184px;
}

#u4132
{
	z-index: 144;
	width: 280px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u4133
{
	z-index: 145;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u4134-4
{
	z-index: 146;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u4143-4
{
	z-index: 167;
	width: 220px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 19px;
	text-align: left;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#pu4188
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 10px;
}

#u4188
{
	z-index: 181;
	width: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4119-6
{
	z-index: 50;
	width: 626px;
	min-height: 73px;
	background-color: transparent;
	color: #343434;
	line-height: 36px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 246px;
}

#pu4087
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 10px;
}

#u4087
{
	z-index: 4;
	height: 240px;
	background-color: #C8C8C8;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u4087-bw
{
	z-index: 4;
	height: 240px;
}

#u4120-6
{
	z-index: 56;
	width: 626px;
	min-height: 73px;
	background-color: transparent;
	color: #343434;
	line-height: 36px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 432px;
}

#u4135
{
	z-index: 150;
	width: 280px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u4137
{
	z-index: 152;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u4140-4
{
	z-index: 155;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u4144-4
{
	z-index: 171;
	width: 220px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 19px;
	text-align: left;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 60px;
}

#u4190
{
	z-index: 183;
	width: 193px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 164px;
}

#u4136
{
	z-index: 151;
	width: 280px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u4138
{
	z-index: 153;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u4141-4
{
	z-index: 159;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u4145-4
{
	z-index: 175;
	width: 220px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: left;
	letter-spacing: -1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 60px;
}

#pu4192
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 9px;
}

#u4192
{
	z-index: 185;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4121-6
{
	z-index: 62;
	width: 648px;
	min-height: 73px;
	background-color: transparent;
	color: #343434;
	line-height: 36px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 239px;
}

#u4139
{
	z-index: 154;
	width: 960px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u4139:hover
{
	background-color: #FCEE21;
	width: 960px;
	min-height: 0px;
	margin: 20px 0px 0px 20px;
}

#u4142-4
{
	z-index: 163;
	width: 590px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 185px;
}

#pu4088
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 36px;
}

#u4088
{
	z-index: 5;
	height: 620px;
	background-color: #C8C8C8;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u4088-bw
{
	z-index: 5;
	height: 620px;
}

#u4195-4
{
	z-index: 187;
	width: 960px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u4196
{
	z-index: 191;
	width: 960px;
	min-height: 470px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 120px;
}

#u4198
{
	z-index: 192;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 578px;
}

#u4200
{
	z-index: 194;
	width: 960px;
	background-color: #343434;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 550px;
	left: 120px;
}

#u4201-4
{
	z-index: 195;
	width: 960px;
	min-height: 23px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 22px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u2735
{
	z-index: 420;
	min-height: 45px;
	background-color: #D1EB2B;
	padding-bottom: 11px;
}

#u2735_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u2737-14
{
	z-index: 421;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #343434;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 100px;
}

#u5848-4
{
	z-index: 491;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #343434;
	line-height: 18px;
	text-align: right;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 621px;
}

#u5846
{
	z-index: 495;
	width: 110px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 970px;
}

#u2735-bw
{
	z-index: 420;
	min-height: 45px;
	margin-top: 42px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

