.version.shop /* version checker */
{
	color: #0000EB;
	background-color: #2651F2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -46px;
	width: 0.01px;
}

#pu3034
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u3034
{
	z-index: 106;
	height: 50px;
	background-color: #646464;
	position: fixed;
	top: 0px;
}

#u3034-bw
{
	z-index: 106;
}

#u3035
{
	z-index: 107;
	width: 200px;
	height: 50px;
	background-color: #D1EB2B;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u3036-4
{
	z-index: 108;
	width: 200px;
	min-height: 47px;
	background-color: transparent;
	color: #343434;
	line-height: 58px;
	text-align: center;
	font-size: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u3037-4
{
	z-index: 112;
	width: 110px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 210px;
}

#u3038-4
{
	z-index: 116;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: center;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 360px;
}

#u3039-4
{
	z-index: 120;
	width: 120px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 387px;
}

#u3040-4
{
	z-index: 124;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	line-height: 18px;
	text-align: center;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 507px;
}

#u3041-4
{
	z-index: 128;
	width: 120px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 16px;
	left: 534px;
}

#u3039-4.MuseLinkActive,#u3041-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 120px;
	margin: 0px;
}

#u3041-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 120px;
	margin: 0px;
}

#u3041-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u3039-4.MuseLinkActive p,#u3041-4.MuseLinkActive p
{
	color: #D1EB2B;
	visibility: inherit;
}

#u5929
{
	z-index: 138;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 49px;
	position: fixed;
	top: 0px;
	right: 120px;
}

#u5923
{
	z-index: 139;
	width: 180px;
	background-color: #000000;
	padding-bottom: 7px;
	position: fixed;
	top: 0px;
	right: 120px;
}

#u5924
{
	z-index: 140;
	width: 100px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	right: 190px;
}

#u5924_img
{
	padding-right: 2px;
}

#pu5926-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 120px;
}

#pu5926-4_position_content
{
	margin-top: -8px;
	padding-bottom: 43px;
}

#u5926-4
{
	z-index: 142;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 8px;
	right: 130px;
}

#u5927-4
{
	z-index: 146;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 27px;
	right: 130px;
}

#u5926-4:hover,#u5927-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u5926-4:hover p,#u5927-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#slideshowu2841
{
	z-index: 2;
	width: 0.01px;
	height: 320px;
	left: -100px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u2851
{
	position: absolute;
	width: 1200px;
	height: 320px;
	background-color: transparent;
}

#u2851popup
{
	z-index: 3;
}

#u2852
{
	z-index: 4;
	width: 1200px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2860-4
{
	z-index: 6;
	min-height: 40px;
	border-color: #343434;
	background-color: #646464;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u2860-4-bw
{
	z-index: 6;
	min-height: 40px;
	margin-top: -31px;
	margin-bottom: -31px;
}

#u2928-4
{
	z-index: 80;
	width: 1000px;
	min-height: 30px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 23px;
	position: relative;
}

#pu2907
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 7px;
}

#u2907
{
	z-index: 42;
	width: 260px;
	background-color: #BED42B;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2910
{
	z-index: 43;
	width: 210px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	padding: 17px 20px 14px;
}

#u2913-4
{
	z-index: 44;
	width: 210px;
	min-height: 31px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 30px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u2916-4
{
	z-index: 48;
	width: 210px;
	min-height: 30px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u4080
{
	z-index: 63;
	width: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u2909
{
	z-index: 64;
	width: 260px;
	background-color: #BED42B;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2912
{
	z-index: 65;
	width: 220px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	padding: 17px 15px 13.150000000000091px;
}

#u2912:hover
{
	background-color: #F2F9C0;
	width: 220px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u2915-4
{
	z-index: 66;
	width: 210px;
	min-height: 31px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 30px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 5px;
	position: relative;
}

#u2918-4
{
	z-index: 70;
	width: 220px;
	min-height: 30px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 25px;
	text-align: center;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u4079
{
	z-index: 52;
	width: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u2908
{
	z-index: 53;
	width: 260px;
	background-color: #BED42B;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2911
{
	z-index: 54;
	width: 210px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	padding: 17px 20px 14px;
}

#u2910:hover,#u2911:hover
{
	background-color: #F2F9C0;
	width: 210px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u2914-4
{
	z-index: 55;
	width: 210px;
	min-height: 31px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u2917-4
{
	z-index: 59;
	width: 210px;
	min-height: 30px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u2931
{
	z-index: 104;
	width: 46px;
	background-color: transparent;
	margin-left: 477px;
	margin-top: 13px;
	position: relative;
}

#u2890-6
{
	z-index: 74;
	width: 1000px;
	min-height: 73px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	line-height: 36px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 28px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 14px;
	position: relative;
}

#pu2898-4
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 20px;
}

#u2898-4
{
	z-index: 84;
	width: 310px;
	min-height: 54px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 53px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2899-4
{
	z-index: 96;
	width: 310px;
	min-height: 54px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 53px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 326px;
}

#u2900-4
{
	z-index: 100;
	width: 310px;
	min-height: 54px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 53px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 652px;
}

#pu2901-4
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 16px;
}

#u2901-4
{
	z-index: 88;
	width: 472px;
	min-height: 54px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 53px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2904-4
{
	z-index: 92;
	width: 472px;
	min-height: 54px;
	border-color: #6B6B6B;
	background-color: #D1EB2B;
	border-radius: 10px;
	color: #343434;
	line-height: 53px;
	text-align: center;
	font-size: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u2861
{
	z-index: 10;
	min-height: 400px;
	background-color: #465259;
}

#u2865
{
	z-index: 13;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u2865_clip
{
	overflow: hidden;
	width: 382px;
	height: 400px;
}

#u2865_img
{
	margin: -24px -19px -15px -17px;
}

#pu2863
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 587px;
}

#u2863
{
	z-index: 11;
	width: 212px;
	background-color: #465259;
	margin-left: 123px;
	position: relative;
}

#u2863_img
{
	padding: 24px 43px 23px 44px;
}

#u2868-4
{
	z-index: 19;
	width: 458px;
	min-height: 36px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 34px;
	text-align: justify;
	font-size: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 18px;
	position: relative;
}

#u2867-4
{
	z-index: 15;
	width: 458px;
	min-height: 155px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 27px;
	text-align: justify;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 18px;
	position: relative;
}

#u2861-bw
{
	z-index: 10;
	min-height: 400px;
	margin-top: 33px;
}

#u2897-4
{
	z-index: 38;
	width: 860px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 70px;
	margin-top: 20px;
	position: relative;
}

#u2887
{
	z-index: 23;
	min-height: 45px;
	background-color: #D1EB2B;
	padding-bottom: 11px;
}

#u2861_align_to_page,#u2887_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u2889-14
{
	z-index: 24;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #343434;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 119px;
}

#u2888-4
{
	z-index: 132;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #343434;
	line-height: 18px;
	text-align: right;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 621px;
}

#u3042
{
	z-index: 136;
	width: 110px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 970px;
}

#u2887-bw
{
	z-index: 23;
	min-height: 45px;
	margin-top: 52px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

