.version.fujikawa /* version checker */
{
	color: #0000FF;
	background-color: #7F8375;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 610px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3319
{
	z-index: 6;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3321
{
	z-index: 7;
	width: 190px;
	background-color: #D1EB2B;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3320-4
{
	z-index: 8;
	width: 190px;
	min-height: 30px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 34px;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6938
{
	z-index: 389;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u6939
{
	z-index: 390;
	width: 190px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u6941
{
	z-index: 391;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u6941_img
{
	padding-right: 2px;
}

#pu6940-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 124px;
}

#u6940-4
{
	z-index: 393;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u6940-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u6943-4
{
	z-index: 397;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 3px;
	position: relative;
}

#u6943-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 3px 0px 0px;
}

#slideshowu3303
{
	z-index: 2;
	width: 0.01px;
	height: 260px;
	position: relative;
}

#u3313
{
	position: absolute;
	width: 380px;
	height: 260px;
	background-color: transparent;
}

#u3313popup
{
	z-index: 3;
}

#u3314
{
	z-index: 4;
	width: 380px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u3322
{
	z-index: 12;
	height: 50px;
	background-color: #000000;
}

#u3322-bw
{
	z-index: 12;
	height: 50px;
}

#u3323-4
{
	z-index: 13;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	font-size: 24px;
	line-height: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
}

#u3323-4-bw
{
	z-index: 13;
	min-height: 25px;
	margin-top: 13px;
}

#u3808
{
	z-index: 34;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3334
{
	z-index: 35;
	width: 125px;
	background-color: #646464;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3336
{
	z-index: 36;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 25px;
}

#u3338-4
{
	z-index: 41;
	width: 15px;
	min-height: 15px;
	background-color: transparent;
	color: #D1EB2B;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u3337-4
{
	z-index: 37;
	width: 60px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 14px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3337-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3809
{
	z-index: 24;
	width: 125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u3331
{
	z-index: 25;
	width: 125px;
	background-color: #646464;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3332-4
{
	z-index: 26;
	width: 60px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 14px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 40px;
}

#u3332-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 60px;
	margin: 5px -10000px 0px 0px;
}

#u3333-4
{
	z-index: 30;
	width: 15px;
	min-height: 15px;
	background-color: transparent;
	color: #D1EB2B;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 25px;
}

#u3335
{
	z-index: 45;
	width: 125px;
	background-color: #646464;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u3339
{
	z-index: 46;
	width: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 30px;
}

#u3341-4
{
	z-index: 51;
	width: 15px;
	min-height: 15px;
	background-color: transparent;
	color: #D1EB2B;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u3340-4
{
	z-index: 47;
	width: 50px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 14px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3340-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u6940-4:hover p,#u6943-4:hover p,#u3337-4:hover p,#u3332-4:hover p,#u3340-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u3343
{
	z-index: 57;
	width: 337px;
	border-width: 3px;
	border-style: solid;
	border-color: #343434;
	background-color: #D1EB2B;
	border-radius: 10px;
	padding-bottom: 16px;
	margin-left: 19px;
	margin-top: 29px;
	position: relative;
}

#u3388-4
{
	z-index: 101;
	width: 340px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 24px;
	line-height: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -2px;
}

#u3391
{
	z-index: 115;
	width: 46px;
	background-color: transparent;
	margin-left: 167px;
	margin-top: 18px;
	position: relative;
}

#pu3389
{
	width: 0.01px;
	margin-top: -1px;
}

#u3389
{
	z-index: 105;
	height: 40px;
	background-color: #000000;
}

#u3389-bw
{
	z-index: 105;
	height: 40px;
}

#u3390-4
{
	z-index: 107;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
}

#u3390-4-bw
{
	z-index: 107;
	min-height: 20px;
	margin-top: 9px;
}

#u3342
{
	z-index: 55;
	width: 337px;
	border-width: 3px;
	border-style: solid;
	border-color: #343434;
	background-color: #D1EB2B;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 6px;
	margin-left: 19px;
	margin-top: 20px;
	position: relative;
}

#u3345-4
{
	z-index: 58;
	width: 320px;
	min-height: 15px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u3891
{
	z-index: 56;
	width: 330px;
	border-width: 3px;
	border-style: solid;
	border-color: #343434;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	margin-left: 19px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	padding: 5px 3px 6px 4px;
}

#u3892-4
{
	z-index: 90;
	width: 330px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 7px;
	line-height: 7px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	left: -1px;
	position: relative;
}

#u3893-4
{
	z-index: 62;
	width: 320px;
	min-height: 30px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 10px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
}

#u3355
{
	z-index: 94;
	width: 340px;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 6px;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u3356-6
{
	z-index: 95;
	width: 340px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#pu3407
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 12px;
}

#u3407
{
	z-index: 119;
	width: 336px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#pu3438-6
{
	width: 0.01px;
	margin: 26px -10000px -1px 6px;
}

#u3438-6
{
	z-index: 190;
	width: 119px;
	min-height: 48px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3409-12
{
	z-index: 121;
	width: 130px;
	min-height: 70px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 7px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 4px;
	position: relative;
}

#page_position_content,#pu3319,#pu3322,#pu3808,#ppu3421-6
{
	width: 0.01px;
}

#pu3421-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u3421-6
{
	z-index: 148;
	width: 50px;
	min-height: 37px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3436-6
{
	z-index: 178;
	width: 50px;
	min-height: 33px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 43px;
	position: relative;
}

#u3437-6
{
	z-index: 184;
	width: 50px;
	min-height: 33px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 69px;
	position: relative;
}

#u3441
{
	z-index: 136;
	width: 3px;
	height: 249px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#pu3431-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 70px;
}

#u3431-4
{
	z-index: 158;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3422-4
{
	z-index: 154;
	width: 50px;
	min-height: 12px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 1px;
	position: relative;
}

#u3432-4
{
	z-index: 162;
	width: 50px;
	min-height: 22px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3434-4
{
	z-index: 170;
	width: 50px;
	min-height: 22px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 28px;
	position: relative;
}

#u3433-4
{
	z-index: 166;
	width: 50px;
	min-height: 22px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 28px;
	position: relative;
}

#u3435-4
{
	z-index: 174;
	width: 50px;
	min-height: 22px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 27px;
	position: relative;
}

#pu3423-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 151px;
}

#u3423-6
{
	z-index: 202;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3426-6
{
	z-index: 238;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3424-6
{
	z-index: 214;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3425-6
{
	z-index: 226;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 24px;
	position: relative;
}

#u3427-4
{
	z-index: 250;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 31px;
	position: relative;
}

#u3428-4
{
	z-index: 258;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 36px;
	position: relative;
}

#u3429-4
{
	z-index: 266;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 37px;
	position: relative;
}

#u3430-4
{
	z-index: 274;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 37px;
	position: relative;
}

#pu3442-6
{
	width: 0.01px;
	margin: 11px -10000px -2px 250px;
}

#u3442-6
{
	z-index: 208;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3443-6
{
	z-index: 244;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3444-6
{
	z-index: 220;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3445-6
{
	z-index: 232;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 24px;
	position: relative;
}

#u3446-4
{
	z-index: 254;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#u3455-5
{
	z-index: 305;
	width: 75px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 8px;
	line-height: 8px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 2px;
	position: relative;
}

#u3447-4
{
	z-index: 262;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 24px;
	position: relative;
}

#u3454-5
{
	z-index: 300;
	width: 75px;
	min-height: 10px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 8px;
	line-height: 8px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 2px;
	position: relative;
}

#u3448-4
{
	z-index: 270;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 18px;
	position: relative;
}

#u3449-4
{
	z-index: 278;
	width: 75px;
	min-height: 13px;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 37px;
	position: relative;
}

#u3452-9
{
	z-index: 282;
	width: 75px;
	min-height: 30px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 8px;
	line-height: 8px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 2px;
	position: relative;
}

#u3408
{
	z-index: 120;
	width: 236px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #C8C8C8;
	border-radius: 10px 0px 0px 0px ;
	position: relative;
	margin-right: -10000px;
}

#u3408_position_content
{
	margin-bottom: -2px;
	padding-top: 3px;
}

#pu3420-4
{
	width: 0.01px;
	margin-left: 7px;
}

#u3420-4
{
	z-index: 144;
	width: 119px;
	min-height: 22px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u3439-6
{
	z-index: 196;
	width: 92px;
	min-height: 40px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u3410
{
	z-index: 133;
	width: 340px;
	height: 3px;
	background-color: #42410B;
	left: -3px;
	margin-top: 4px;
	position: relative;
}

#u3411
{
	z-index: 134;
	width: 3px;
	height: 447px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u3412
{
	z-index: 135;
	width: 3px;
	height: 448px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u3413
{
	z-index: 137;
	width: 200px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 140px;
}

#u3414
{
	z-index: 138;
	width: 200px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 140px;
}

#u3415
{
	z-index: 139;
	width: 340px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
}

#u3416
{
	z-index: 140;
	width: 270px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 70px;
}

#u3417
{
	z-index: 141;
	width: 340px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
}

#u3418
{
	z-index: 142;
	width: 270px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 70px;
}

#u3419
{
	z-index: 143;
	width: 340px;
	height: 3px;
	background-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
}

#u3456-9
{
	z-index: 291;
	width: 75px;
	min-height: 30px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 8px;
	line-height: 8px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 253px;
}

#u3455,#u3454,#u3452,#u3456
{
	color: #C1272D;
}

#u3450
{
	z-index: 310;
	width: 97px;
	border-width: 3px;
	border-style: solid;
	border-color: #42410B;
	background-color: #C1272D;
	border-radius: 0px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u3451-6
{
	z-index: 311;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u3451-2
{
	font-size: 13px;
	line-height: 13px;
}

#u3451-4
{
	font-size: 19px;
	line-height: 19px;
}

#u3912
{
	z-index: 117;
	width: 46px;
	background-color: transparent;
	margin-left: 167px;
	margin-top: 10px;
	position: relative;
}

#pu3910
{
	width: 0.01px;
	margin-top: -2px;
}

#u3910
{
	z-index: 106;
	height: 40px;
	background-color: #000000;
}

#u3910-bw
{
	z-index: 106;
	height: 40px;
}

#u3911-4
{
	z-index: 111;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
}

#u3911-4-bw
{
	z-index: 111;
	min-height: 20px;
	margin-top: 10px;
}

#u3894
{
	z-index: 317;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

#u3895
{
	z-index: 323;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3896-4
{
	z-index: 329;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3897-4
{
	z-index: 353;
	width: 270px;
	min-height: 12px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#u3899-4
{
	z-index: 66;
	width: 320px;
	min-height: 61px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 9px;
	position: relative;
}

#u3901
{
	z-index: 318;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u3902
{
	z-index: 324;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3903-4
{
	z-index: 333;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3904-4
{
	z-index: 357;
	width: 270px;
	min-height: 12px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#u3900-4
{
	z-index: 70;
	width: 320px;
	min-height: 61px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u3907
{
	z-index: 319;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u3906
{
	z-index: 325;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3908-4
{
	z-index: 337;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3909-6
{
	z-index: 373;
	width: 270px;
	min-height: 27px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 60px;
}

#u3905-4
{
	z-index: 74;
	width: 320px;
	min-height: 50px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u3926
{
	z-index: 321;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u3927
{
	z-index: 327;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3929-4
{
	z-index: 345;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3928-4
{
	z-index: 365;
	width: 270px;
	min-height: 12px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#u3930-4
{
	z-index: 82;
	width: 320px;
	min-height: 61px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u3916
{
	z-index: 320;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#u3918
{
	z-index: 326;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3919-4
{
	z-index: 341;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3920-4
{
	z-index: 361;
	width: 270px;
	min-height: 12px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#u3915-4
{
	z-index: 78;
	width: 320px;
	min-height: 61px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u3922
{
	z-index: 322;
	width: 340px;
	border-color: #42410B;
	background-color: #646464;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u3923
{
	z-index: 328;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3924-4
{
	z-index: 349;
	width: 50px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3925-4
{
	z-index: 369;
	width: 270px;
	min-height: 12px;
	border-color: #343434;
	background-color: transparent;
	color: #D1EB2B;
	text-align: left;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 60px;
}

#u3921-4
{
	z-index: 86;
	width: 320px;
	min-height: 37px;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 9px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	position: relative;
}

#u4302
{
	z-index: 379;
	width: 340px;
	min-height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

#u4304
{
	z-index: 380;
	width: 340px;
	background-color: #343434;
	padding-bottom: 5px;
	margin-left: 20px;
	position: relative;
}

#u4305-8
{
	z-index: 381;
	width: 320px;
	min-height: 50px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 0px;
	font-size: 12px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u3327
{
	z-index: 17;
	min-height: 55.999999999998636px;
	background-color: #D1EB2B;
	padding-bottom: 0px;
}

#u3327_position_content
{
	padding-bottom: 11px;
}

#u3328-4
{
	z-index: 18;
	width: 339px;
	min-height: 20px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 21px;
	position: relative;
}

#u3329
{
	z-index: 22;
	width: 77px;
	background-color: transparent;
	margin-left: 152px;
	position: relative;
}

#u3327-bw
{
	z-index: 17;
	min-height: 55.999999999998636px;
	margin-top: 55px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

