.version.index /* version checker */
{
	color: #000018;
	background-color: #2FC6D6;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 609.9999999999761px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u1705
{
	z-index: 11;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1215
{
	z-index: 12;
	width: 190px;
	background-color: #D1EB2B;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u1216-4
{
	z-index: 13;
	width: 190px;
	min-height: 30px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 34px;
	line-height: 37px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1249
{
	z-index: 48;
	width: 190px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u5966
{
	z-index: 184;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u5966_img
{
	padding-right: 2px;
}

#pu5968-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 124px;
}

#u5968-4
{
	z-index: 186;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u5968-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u5969-4
{
	z-index: 190;
	width: 50px;
	min-height: 14px;
	background-color: #BED42B;
	padding-top: 2px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 3px;
	position: relative;
}

#u5969-4:hover
{
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 3px 0px 0px;
}

#slideshowu1217
{
	z-index: 3;
	width: 0.01px;
	height: 260px;
	position: relative;
}

#u1218
{
	position: absolute;
	width: 380px;
	height: 260px;
	background-color: transparent;
}

#u1218popup
{
	z-index: 4;
}

#u1221
{
	z-index: 5;
	width: 380px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1223
{
	z-index: 7;
	width: 380px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1219
{
	z-index: 9;
	width: 380px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#page_position_content,#pu1705,#pu1270
{
	width: 0.01px;
}

#u1270
{
	z-index: 2;
	min-height: 1279.8500000000001px;
	background-color: #D1EB2B;
	padding-bottom: 0px;
}

#u1270_position_content
{
	padding-top: 40px;
	padding-bottom: 175px;
}

#u1700
{
	z-index: 27;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 65px;
	position: relative;
}

#u1254
{
	z-index: 28;
	width: 250px;
	background-color: #646464;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1257-4
{
	z-index: 29;
	width: 140px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 69px;
}

#u1258-4
{
	z-index: 33;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 42px;
}

#u1702
{
	z-index: 37;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 65px;
	margin-top: 10px;
	position: relative;
}

#u1267
{
	z-index: 38;
	width: 250px;
	background-color: #646464;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1269-4
{
	z-index: 39;
	width: 27px;
	min-height: 20px;
	background-color: transparent;
	color: #D1EB2B;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 42px;
}

#u1268-4
{
	z-index: 43;
	width: 140px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 69px;
}

#u1257-4:hover,#u1268-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 140px;
	margin: 10px -10000px 0px 0px;
}

#u1268-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 140px;
	margin: 10px -10000px 0px 0px;
}

#u5968-4:hover p,#u5969-4:hover p,#u1257-4:hover p,#u1268-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u1268-4.MuseLinkActive p
{
	color: #D1EB2B;
	visibility: inherit;
}

#u1326
{
	z-index: 55;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 80px;
	position: relative;
}

#u1332
{
	z-index: 56;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1344-4
{
	z-index: 57;
	width: 80px;
	min-height: 14px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 11px;
	line-height: 11px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 5px;
}

#u1346-6
{
	z-index: 61;
	width: 141px;
	min-height: 33px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 12px;
	line-height: 16px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 189px;
}

#u4232-4
{
	z-index: 180;
	width: 250px;
	min-height: 15px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 10px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 65px;
	margin-top: 2px;
	position: relative;
}

#u1363
{
	z-index: 73;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 3px;
	position: relative;
}

#u1367
{
	z-index: 74;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1364-4
{
	z-index: 75;
	width: 80px;
	min-height: 14px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 5px;
}

#u1366-6
{
	z-index: 79;
	width: 141px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 189px;
}

#u1372
{
	z-index: 89;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1369
{
	z-index: 93;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1370-4
{
	z-index: 97;
	width: 80px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 5px;
}

#u1373-6
{
	z-index: 109;
	width: 141px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 189px;
}

#u1404
{
	z-index: 90;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1405
{
	z-index: 94;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1407-4
{
	z-index: 137;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 85px;
}

#u1406-6
{
	z-index: 115;
	width: 141px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 189px;
}

#u1409
{
	z-index: 91;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1410
{
	z-index: 95;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1413-4
{
	z-index: 101;
	width: 80px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 5px;
}

#u1411-6
{
	z-index: 121;
	width: 141px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 189px;
}

#u1414
{
	z-index: 92;
	width: 340px;
	background-color: #BED42B;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u1415
{
	z-index: 96;
	width: 330px;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1418-4
{
	z-index: 105;
	width: 80px;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 5px;
}

#u1417-6
{
	z-index: 127;
	width: 141px;
	min-height: 35px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 189px;
}

#u1420
{
	z-index: 153;
	width: 381px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1420_clip
{
	overflow: hidden;
	width: 381px;
	height: 340px;
}

#u1420_img
{
	margin-left: -1px;
	margin-right: 1px;
}

#pu1423-4
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 18px;
	position: relative;
}

#u1423-4
{
	z-index: 155;
	width: 63px;
	min-height: 51px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1424
{
	z-index: 159;
	width: 112px;
	background-color: #465259;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u1424_img
{
	padding: 12px 23px 13px;
}

#u1430-4
{
	z-index: 163;
	width: 340px;
	min-height: 36px;
	border-color: #343434;
	background-color: transparent;
	color: #C1272D;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 6px;
	position: relative;
}

#u1270-bw
{
	z-index: 2;
	min-height: 1279.8500000000001px;
	margin-top: 20px;
}

#u1251
{
	z-index: 17;
	height: 50px;
	background-color: #000000;
}

#u1251-bw
{
	z-index: 17;
	height: 50px;
}

#u1274
{
	z-index: 18;
	height: 40px;
	background-color: #000000;
}

#u1274-bw
{
	z-index: 18;
	margin-top: 180px;
	height: 40px;
}

#u1252-4
{
	z-index: 19;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
}

#u1252-4-bw
{
	z-index: 19;
	min-height: 20px;
	margin-top: 15px;
}

#u1276-4
{
	z-index: 23;
	min-height: 20px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
}

#u1276-4-bw
{
	z-index: 23;
	min-height: 20px;
	margin-top: 190px;
}

#u1358
{
	z-index: 53;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 167px;
}

#u1338-6
{
	z-index: 67;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: -2px;
	font-size: 19px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 110px;
}

#u1365-4
{
	z-index: 85;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 110px;
}

#u1371-4
{
	z-index: 133;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 110px;
}

#u1412-4
{
	z-index: 141;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 110px;
}

#u1416-4
{
	z-index: 145;
	width: 94px;
	min-height: 45px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 110px;
}

#u1419-4
{
	z-index: 149;
	width: 80px;
	min-height: 10px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	line-height: 13px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 476px;
	left: 30px;
}

#u1426
{
	z-index: 161;
	width: 165px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1022px;
	left: 20px;
}

#u1431-4
{
	z-index: 167;
	width: 340px;
	min-height: 160px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: justify;
	font-size: 13px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 1125px;
	left: 20px;
}

#u1749
{
	z-index: 173;
	min-height: 47px;
	background-color: #FFFFFF;
	padding-bottom: 3px;
}

#u3078-6
{
	z-index: 174;
	width: 340px;
	min-height: 40px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u1749-bw
{
	z-index: 173;
	min-height: 47px;
}

#pu1272
{
	width: 0.01px;
	margin-top: 39px;
}

#u1272
{
	z-index: 47;
	min-height: 36px;
	background-color: #D1EB2B;
	padding-bottom: 36px;
}

#u1273-4
{
	z-index: 49;
	width: 339px;
	min-height: 20px;
	background-color: transparent;
	color: #343434;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#u1272-bw
{
	z-index: 47;
	min-height: 36px;
}

#u1432
{
	z-index: 171;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 154px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

