.version.mbdiet_service /* version checker */
{
	color: #0000F7;
	background-color: #3FDB3E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 610px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu6954
{
	width: 0.01px;
}

#u6954
{
	z-index: 330;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6955
{
	z-index: 331;
	width: 190px;
	background-color: #000000;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u6956
{
	z-index: 332;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 31px;
}

#u6956_img
{
	padding-right: 5px;
	padding-bottom: 1px;
}

#u6171
{
	z-index: 10;
	width: 190px;
	background-color: #BED42B;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u6172-4
{
	z-index: 11;
	width: 160px;
	min-height: 31px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#slideshowu6145
{
	z-index: 2;
	width: 0.01px;
	height: 208px;
	position: relative;
}

#u6148
{
	position: absolute;
	width: 380px;
	height: 208px;
	background-color: transparent;
}

#u6148popup
{
	z-index: 3;
}

#u6149
{
	z-index: 4;
	width: 380px;
	height: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u6165
{
	z-index: 6;
	width: 189px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u6176-4
{
	z-index: 27;
	width: 80px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u6176-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 8px -10000px 0px 0px;
}

#u6167
{
	z-index: 8;
	width: 189px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u6173-4
{
	z-index: 15;
	width: 170px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u6173-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 170px;
	margin: 8px -10000px 0px 0px;
}

#u6173-4.MuseLinkActive p
{
	color: #BED42B;
	visibility: inherit;
}

#pu6165,#pu6166
{
	width: 0.01px;
	margin-top: 2px;
}

#u6166
{
	z-index: 7;
	width: 189px;
	background-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6174-4
{
	z-index: 19;
	width: 140px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 21px;
}

#u6174-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 7px -10000px 0px 0px;
}

#u6168
{
	z-index: 9;
	width: 189px;
	background-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u6175-4
{
	z-index: 23;
	width: 80px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 54px;
}

#u6175-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 7px -10000px 0px 0px;
}

#u6182
{
	z-index: 35;
	min-height: 130px;
	background-color: #000000;
	padding-bottom: 10px;
}

#u6183-9
{
	z-index: 37;
	width: 336px;
	min-height: 120px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 27px;
	line-height: 38px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u6182-bw
{
	z-index: 35;
	min-height: 130px;
	margin-top: 2px;
}

#u6180
{
	z-index: 31;
	width: 46px;
	background-color: transparent;
	margin-left: 167px;
	position: relative;
}

#u6195-6
{
	z-index: 62;
	width: 340px;
	min-height: 42px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 41px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6196-4
{
	z-index: 74;
	width: 340px;
	min-height: 161px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6197
{
	z-index: 78;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u6206-4
{
	z-index: 80;
	width: 340px;
	min-height: 35px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 1px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 21px;
	line-height: 34px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6210-4
{
	z-index: 100;
	width: 340px;
	min-height: 211px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6222-6
{
	z-index: 84;
	width: 340px;
	min-height: 55px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 1px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 21px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6223-4
{
	z-index: 104;
	width: 340px;
	min-height: 150px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6220-4
{
	z-index: 131;
	width: 339px;
	min-height: 27px;
	background-color: #F2F9C0;
	color: #000000;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6219-11
{
	z-index: 108;
	width: 340px;
	min-height: 111px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6219-2,#u6219-7
{
	color: #BED42B;
	font-weight: bold;
}

#u6228-4
{
	z-index: 90;
	width: 340px;
	min-height: 39px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 1px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 21px;
	line-height: 34px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6229-6
{
	z-index: 135;
	width: 339px;
	min-height: 46px;
	background-color: #F2F9C0;
	color: #000000;
	text-align: justify;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6229-2
{
	font-size: 16px;
	line-height: 24px;
}

#u6229-4
{
	font-size: 14px;
	line-height: 21px;
}

#u6230-4
{
	z-index: 119;
	width: 340px;
	min-height: 111px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6231-4
{
	z-index: 141;
	width: 339px;
	min-height: 30px;
	background-color: #F2F9C0;
	color: #000000;
	text-align: justify;
	font-size: 16px;
	line-height: 26px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6232-4
{
	z-index: 123;
	width: 340px;
	min-height: 127px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6233-4
{
	z-index: 145;
	width: 339px;
	min-height: 30px;
	background-color: #F2F9C0;
	color: #000000;
	text-align: justify;
	font-size: 16px;
	line-height: 26px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6234-4
{
	z-index: 127;
	width: 340px;
	min-height: 127px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6209-6
{
	z-index: 94;
	width: 339px;
	min-height: 110px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: left;
	font-size: 18px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6235
{
	z-index: 36;
	min-height: 120px;
	background-color: #000000;
	padding-bottom: 10px;
}

#u6236-9
{
	z-index: 46;
	width: 336px;
	min-height: 110px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 27px;
	line-height: 35px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u6183-3,#u6236-2,#u6236-6
{
	color: #BED42B;
}

#u6235-bw
{
	z-index: 36;
	min-height: 120px;
	margin-top: 9px;
}

#u6237
{
	z-index: 33;
	width: 46px;
	background-color: transparent;
	margin-left: 167px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u6240-6
{
	z-index: 68;
	width: 340px;
	min-height: 42px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 24px;
	line-height: 36px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#u6195-2,#u6240-2
{
	color: #8CC63F;
}

#pu6253
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 11px;
}

#u6253
{
	z-index: 173;
	width: 248px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u6261-4
{
	z-index: 177;
	width: 235px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 19px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u6260
{
	z-index: 175;
	width: 90px;
	border-color: #42410B;
	background-color: #000000;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u6272-4
{
	z-index: 245;
	width: 90px;
	min-height: 21px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u6262-4
{
	z-index: 189;
	width: 338px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 24px;
	line-height: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 21px;
	margin-top: 10px;
	position: relative;
}

#u6279
{
	z-index: 209;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6254
{
	z-index: 210;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6266-4
{
	z-index: 211;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6247-4
{
	z-index: 149;
	width: 338px;
	min-height: 92px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6263-6
{
	z-index: 197;
	width: 338px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 21px;
	margin-top: 10px;
	position: relative;
}

#u6280
{
	z-index: 221;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6255
{
	z-index: 222;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6267-4
{
	z-index: 223;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6248-4
{
	z-index: 157;
	width: 338px;
	min-height: 92px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6281
{
	z-index: 233;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6256
{
	z-index: 234;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6268-4
{
	z-index: 235;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6249-4
{
	z-index: 165;
	width: 338px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#pu6296
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 19px;
}

#u6296
{
	z-index: 174;
	width: 248px;
	border-color: #42410B;
	background-color: #D1EB2B;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u6298-8
{
	z-index: 181;
	width: 235px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u6297
{
	z-index: 176;
	width: 90px;
	border-color: #42410B;
	background-color: #000000;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u6299-4
{
	z-index: 249;
	width: 90px;
	min-height: 21px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u6295-4
{
	z-index: 193;
	width: 338px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 24px;
	line-height: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 21px;
	margin-top: 9px;
	position: relative;
}

#u6292
{
	z-index: 215;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6293
{
	z-index: 216;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6294-4
{
	z-index: 217;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6291-4
{
	z-index: 153;
	width: 338px;
	min-height: 64px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6290-6
{
	z-index: 203;
	width: 338px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 21px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 21px;
	margin-top: 10px;
	position: relative;
}

#u6287
{
	z-index: 227;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6289
{
	z-index: 228;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6288-4
{
	z-index: 229;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6286-4
{
	z-index: 161;
	width: 338px;
	min-height: 85px;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6282
{
	z-index: 239;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6284
{
	z-index: 240;
	width: 338px;
	border-color: #42410B;
	background-color: #F2F9C0;
	position: relative;
	margin-right: -10000px;
}

#u6283-4
{
	z-index: 241;
	width: 266px;
	min-height: 18px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 2px;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	line-height: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u6285-4
{
	z-index: 169;
	width: 338px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#pu6300
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#u6300
{
	z-index: 253;
	width: 340px;
	background-color: #F15A24;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6306
{
	z-index: 270;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 13px;
}

#u6307-4
{
	z-index: 275;
	width: 140px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u6308-4
{
	z-index: 271;
	width: 140px;
	min-height: 32px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 31px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u6310
{
	z-index: 285;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 200px;
}

#u6311-4
{
	z-index: 291;
	width: 130px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u6312-5
{
	z-index: 286;
	width: 130px;
	min-height: 61px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
}

#u6312
{
	font-size: 60px;
	line-height: 60px;
}

#u6312-2
{
	font-size: 30px;
	line-height: 30px;
}

#u6314
{
	z-index: 309;
	width: 46px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,12,35);
	-ms-transform: matrix(0,-1,1,0,12,35);
	transform: matrix(0,-1,1,0,12,35);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 147px;
}

#u6301
{
	z-index: 254;
	width: 340px;
	background-color: #000000;
	margin-left: 20px;
	position: relative;
}

#u6301_position_content
{
	padding-top: 15px;
	padding-bottom: 16px;
}

#u6303-5
{
	z-index: 256;
	width: 320px;
	min-height: 36px;
	border-color: #343434;
	background-color: #BED42B;
	color: #000000;
	text-align: center;
	font-size: 35px;
	line-height: 46px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
}

#u6303
{
	font-size: 27px;
	line-height: 35px;
}

#u6303-2
{
	font-size: 16px;
	line-height: 21px;
}

#u6309-6
{
	z-index: 279;
	width: 320px;
	min-height: 40px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 11px;
	position: relative;
}

#u6305-5
{
	z-index: 265;
	width: 330px;
	min-height: 56px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6312-3,#u6303-3,#u6305-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6305
{
	font-size: 55px;
	line-height: 55px;
}

#u6305-2
{
	font-size: 16px;
	line-height: 16px;
}

#u6304-4
{
	z-index: 261;
	width: 320px;
	min-height: 25px;
	border-color: #343434;
	background-color: #BED42B;
	color: #000000;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u6313-14
{
	z-index: 295;
	width: 320px;
	min-height: 121px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u6302
{
	z-index: 255;
	width: 301px;
	background-color: #C8C8C8;
	margin-left: 20px;
	position: relative;
	padding: 10px 20px 10.019581252228363px 19px;
}

#u6316-4
{
	z-index: 311;
	width: 300px;
	min-height: 40px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 25px;
	line-height: 40px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u6317-4
{
	z-index: 315;
	width: 301px;
	min-height: 41px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 9px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 21px;
	line-height: 34px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6318-4
{
	z-index: 319;
	width: 301px;
	min-height: 41px;
	border-color: #343434;
	background-color: #000000;
	padding-top: 9px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 21px;
	line-height: 34px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6317-4:hover,#u6318-4:hover
{
	padding-top: 9px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 301px;
	margin: 10px 0px 0px;
}

#u6176-4:hover p,#u6174-4:hover p,#u6175-4:hover p,#u6317-4:hover p,#u6318-4:hover p
{
	color: #D9E021;
	visibility: inherit;
}

#u6319
{
	z-index: 323;
	width: 339px;
	background-color: #BED42B;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u6320-6
{
	z-index: 324;
	width: 301px;
	min-height: 65px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 21px;
	line-height: 32px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#pu6189
{
	width: 0.01px;
	margin-top: 21px;
}

#u6189
{
	z-index: 55;
	min-height: 33px;
	background-color: #000000;
	padding-bottom: 57px;
}

#u6190-4
{
	z-index: 56;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#u6189-bw
{
	z-index: 55;
	min-height: 33px;
}

#u6191
{
	z-index: 60;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 123px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

