.version.mbdiet_qa /* version checker */
{
	color: #0000E0;
	background-color: #CC750E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 610px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu6964
{
	width: 0.01px;
}

#u6964
{
	z-index: 238;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6965
{
	z-index: 239;
	width: 190px;
	background-color: #000000;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u6966
{
	z-index: 240;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 31px;
}

#u6966_img
{
	padding-right: 5px;
	padding-bottom: 1px;
}

#u6419
{
	z-index: 10;
	width: 190px;
	background-color: #BED42B;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u6420-4
{
	z-index: 11;
	width: 160px;
	min-height: 31px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#slideshowu6396
{
	z-index: 2;
	width: 0.01px;
	height: 208px;
	position: relative;
}

#u6404
{
	position: absolute;
	width: 380px;
	height: 208px;
	background-color: transparent;
}

#u6404popup
{
	z-index: 3;
}

#u6405
{
	z-index: 4;
	width: 380px;
	height: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u6413
{
	z-index: 6;
	width: 189px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u6424-4
{
	z-index: 27;
	width: 80px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 51px;
}

#u6424-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 8px -10000px 0px 0px;
}

#u6415
{
	z-index: 8;
	width: 189px;
	background-color: #000000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u6421-4
{
	z-index: 15;
	width: 170px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u6421-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 170px;
	margin: 8px -10000px 0px 0px;
}

#pu6413,#pu6414
{
	width: 0.01px;
	margin-top: 2px;
}

#u6414
{
	z-index: 7;
	width: 189px;
	background-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6422-4
{
	z-index: 19;
	width: 140px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 21px;
}

#u6422-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 7px -10000px 0px 0px;
}

#u6424-4:hover p,#u6421-4:hover p,#u6422-4:hover p
{
	color: #D9E021;
	visibility: inherit;
}

#u6416
{
	z-index: 9;
	width: 189px;
	background-color: #000000;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u6423-4
{
	z-index: 23;
	width: 80px;
	min-height: 24px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 54px;
}

#u6423-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 7px -10000px 0px 0px;
}

#u6423-4.MuseLinkActive p
{
	color: #BED42B;
	visibility: inherit;
}

#u6427
{
	z-index: 33;
	min-height: 130px;
	background-color: #000000;
	padding-bottom: 10px;
}

#u6428-9
{
	z-index: 34;
	width: 336px;
	min-height: 120px;
	border-color: #343434;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 27px;
	line-height: 38px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u6428-3
{
	color: #BED42B;
}

#u6427-bw
{
	z-index: 33;
	min-height: 130px;
	margin-top: 2px;
}

#u6425
{
	z-index: 31;
	width: 46px;
	background-color: transparent;
	margin-left: 167px;
	position: relative;
}

#u6438-6
{
	z-index: 50;
	width: 340px;
	min-height: 42px;
	border-color: #343434;
	background-color: transparent;
	color: #343434;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 41px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u6438-2
{
	color: #8CC63F;
}

#u6441
{
	z-index: 74;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6443-4
{
	z-index: 92;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6439
{
	z-index: 56;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6445-4
{
	z-index: 164;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6442
{
	z-index: 83;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
}

#u6444-4
{
	z-index: 128;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u6440
{
	z-index: 65;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6446-4
{
	z-index: 202;
	width: 270px;
	min-height: 100px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6518
{
	z-index: 78;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6519-4
{
	z-index: 108;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6520
{
	z-index: 60;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6522-4
{
	z-index: 182;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6517
{
	z-index: 87;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
}

#u6524-4
{
	z-index: 144;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u6521
{
	z-index: 69;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6523-4
{
	z-index: 218;
	width: 270px;
	min-height: 100px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6525
{
	z-index: 75;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6526-4
{
	z-index: 96;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6531
{
	z-index: 57;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6529-4
{
	z-index: 168;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6528
{
	z-index: 84;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
}

#u6532-4
{
	z-index: 132;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u6530
{
	z-index: 66;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6527-4
{
	z-index: 206;
	width: 270px;
	min-height: 100px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6534
{
	z-index: 76;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6533-4
{
	z-index: 100;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u6535
{
	z-index: 58;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6536-4
{
	z-index: 172;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6538
{
	z-index: 85;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
}

#u6540-4
{
	z-index: 136;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u6537
{
	z-index: 67;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6539-4
{
	z-index: 210;
	width: 270px;
	min-height: 106px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6542
{
	z-index: 79;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6541-4
{
	z-index: 112;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6546
{
	z-index: 61;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6545-4
{
	z-index: 186;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6543
{
	z-index: 88;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
}

#u6548-4
{
	z-index: 148;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u6547
{
	z-index: 70;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6544-4
{
	z-index: 222;
	width: 270px;
	min-height: 100px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6550
{
	z-index: 77;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u6549-4
{
	z-index: 104;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u6555
{
	z-index: 59;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6552-6
{
	z-index: 176;
	width: 280px;
	min-height: 39px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 19px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u6551
{
	z-index: 86;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
}

#u6556-4
{
	z-index: 140;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u6554
{
	z-index: 68;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6553-4
{
	z-index: 214;
	width: 270px;
	min-height: 90px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6558
{
	z-index: 80;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6557-4
{
	z-index: 116;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6559
{
	z-index: 62;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6563-4
{
	z-index: 190;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6560
{
	z-index: 89;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#u6564-4
{
	z-index: 152;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u6561
{
	z-index: 71;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6562-4
{
	z-index: 226;
	width: 270px;
	min-height: 70px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u6570
{
	z-index: 81;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6572-4
{
	z-index: 120;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6567
{
	z-index: 63;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6568-4
{
	z-index: 194;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u6571
{
	z-index: 90;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u6569-4
{
	z-index: 156;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u6565
{
	z-index: 72;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6566-4
{
	z-index: 230;
	width: 270px;
	min-height: 50px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#pu6518,#pu6525,#pu6534,#pu6542,#pu6550,#pu6558,#pu6570,#pu6578
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#u6578
{
	z-index: 82;
	width: 50px;
	border-color: #42410B;
	background-color: #D1EB2B;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6580-4
{
	z-index: 124;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u6575
{
	z-index: 64;
	width: 290px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6576-4
{
	z-index: 198;
	width: 280px;
	min-height: 25px;
	border-color: #343434;
	background-color: transparent;
	padding-top: 3px;
	color: #000000;
	text-align: left;
	font-size: 17px;
	line-height: 17px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#pu6441,#pu6442,#pu6517,#pu6528,#pu6538,#pu6543,#pu6551,#pu6560,#pu6571,#pu6577
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#u6577
{
	z-index: 91;
	width: 50px;
	border-color: #42410B;
	background-color: #646464;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u6579-4
{
	z-index: 160;
	width: 50px;
	min-height: 28px;
	border-color: #343434;
	background-color: transparent;
	color: #BED42B;
	text-align: center;
	letter-spacing: 0px;
	font-size: 27px;
	line-height: 27px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u6573
{
	z-index: 73;
	width: 289px;
	border-color: #42410B;
	background-color: #F2F9C0;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6574-4
{
	z-index: 234;
	width: 270px;
	min-height: 22px;
	border-color: #343434;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#pu6433
{
	width: 0.01px;
	margin-top: 21px;
}

#u6433
{
	z-index: 43;
	min-height: 33px;
	background-color: #000000;
	padding-bottom: 57px;
}

#u6434-4
{
	z-index: 44;
	width: 339px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	line-height: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#u6433-bw
{
	z-index: 43;
	min-height: 33px;
}

#u6435
{
	z-index: 48;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 123px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

